aiogram==2.9.2
aiohttp==3.7.4
async-timeout==3.0.1
attrs==19.3.0
Babel==2.9.1
certifi==2023.7.22
chardet==3.0.4
idna==2.8
multidict==4.7.6
pytz==2019.3
yarl==1.5.0
pylint==2.5.3
flake8==3.8.3
mypy==0.782
